*{
 padding: 0;
 margin: 0;
}

body{
   background-color: #00dfdf;
}

label{
  color: white;
}

h1{
   color: white;
   font-size: 50px;
   padding-left: 30px;
}

.contenedor{
   display: inline-block;
   margin-top: 2em;
   margin-right: 2em;
   margin-left: 2em;
}

.contenedor-2{
   display: inline-block;
   margin-left: 4em;
}

.boton{
   display: flex;
   justify-content: center;
   margin: 6em;
}